<div class="menu-lists">
  <mat-card class="menu-detail-card" *ngFor="let menu of menu_details; let i=index">
    <mat-card-header>
      <mat-card-title>{{menu.name}}</mat-card-title>
    </mat-card-header>
    <div class="menu-description" [class.opened]="isOpenedMenuDescriptions[i]" (click)="toggleMenuDescription(i)">
      <p>{{menu.sentence}}</p>
    </div>
    <img mat-card-image (click)="toggleMenuDescription(i)" src="{{menu.image}}" alt="{{menu.name}}">

    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
