.mobile-over-menu-active{
  opacity: 1;
  z-index: 20;
  position: fixed;
  height: 100%;
  transition: 0.7s;
  width: 100%;
  background-color: black;
}

.top_icon{
  margin: 7% auto;
  width: 50%;
}

.top_img{
  width: 100%;
}

.menu{
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: None;
  color: #bdbdbd;
}

.sns_link_img {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  fill: #bdbdbd;
}

span {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  list-style-type: none;
  width: 100%;
  height: 50px;
  margin: 0 0 10px;
}

nav {
  margin-left: 10%;
  width: 80%;
  position: absolute;
  /* margin: 0 auto; */
  top: 20%;
  height: 70%;
}

.sns_link {
  display: inline-block;
  /* position: absolute; */
  width: 40px;
  height: 80%;
  margin: 0 7px;
}

.sns_link_li {
  display: flex;
}
