p {
  color: #BDBDBD;
  text-align: center;
  font-size: 20px;
  font-family: serif;
}

img {
  height: 200px;
  width: auto;
}

.menu-title{
  margin-top: 50px;
}

.menu-detail{
  position: relative;
  width: 96%;
  margin: 0 auto;
}

a.navlink{
  color: #747474;
  font-size: 15px;
}
