<div class="menu-title">
  <p>MENU</p>
</div>

<nav ngbNav #nav="ngbNav"  class="nav-tabs">
  <ng-container ngbNavItem *ngFor="let large_cat of large_categories">
    <a ngbNavLink class="navlink" (click)="getMiddleCategories(large_cat.id)">{{large_cat.large_category}}</a>
    <ng-template ngbNavContent>
      <p>{{large_cat.description}}</p>
    </ng-template>
  </ng-container>
</nav>
<nav ngbNav #nav2="ngbNav" class="nav-tabs" *ngIf="middle_categories.length>0">
  <ng-container ngbNavItem *ngFor="let middle_cat of middle_categories">
    <a ngbNavLink class="navlink">{{middle_cat}}</a>
    <ng-template ngbNavContent>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
