.header {
    width: 100%;
    position: fixed;
    background-color: black;
    padding: 10px 0;
}

img{
  width: 100%;
}

.top_icon {
  display: inline-block;
  position: relative;
  margin-left: 35%;
  width: 30%;
}


