.fixed_header {
  background-color: black;
  width: 280px;
  height: 100%;
  position: fixed;
  z-index: 10;
}

.fixed_top_icon {
  top: 40px;
  left: 30px;
  /* right: 30px; */
  width: 80%;
  position: relative;
}

.main_cont {
  margin-left: 180px;
  /* background: #eee; */
  width: -webkit-calc(100% - 180px);
  width: calc(100% - 180px);
  overflow: hidden;
  display: block;
}
