<header>
  <app-mobile-header *ngIf="navigationService.isMobileNavDisplayed"></app-mobile-header>
  <app-mobile-hamburgermenu *ngIf="navigationService.isMobileNavDisplayed"></app-mobile-hamburgermenu>
</header>
<app-mobile-over-menu *ngIf="navigationService.isMobileMenuOpened"></app-mobile-over-menu>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="{{navigationService.isSideNavDisplayed}}">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="main_cont">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
