.fixed_header {
  background-color: black;
  width: 25%;
  max-width: 300px;
  min-width: 180x;
  height: 100%;
  position: relative;
  z-index: 10;
}

.fixed_top_icon {
  top: 5%;
  left: 10%;
  /* right: 30px; */
  width: 80%;
  min-width: 200px;
  max-width: 300px;
  position: relative;
}

.main_cont {
  margin-left: 25%;
  width: 75%;
  position: relative;
  /* background: #eee; */
  overflow: hidden;
  display: block;
}
