/* @media screen and (max-width: 700px){ */

.top-cover-section{
  width: 100%;
  /* top: 80px; */
}

img{
  position: relative;

}

div.top-img{
  overflow: hidden;
  padding-top: 60%;
}

figure{
  position: relative;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* } */

/* @media screen and (min-width: 701px){

} */
