@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap&subset=japanese");

body {
  color: #BDBDBD;
  background-color: black;
  font-family: "Noto Sans JP", sans-serif;
}

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
